openapi: 3.2.0
info:
  version: 1.5.0
  title: Coda Docs API
  license:
    name: Coda Developer Terms
    url: https://coda.io/trust/developer
  description: '# Introduction


    The Coda API is a RESTful API that lets you programmatically interact with Coda docs:


    * List and search Coda docs

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Coda with an AI tool, you may also want to consider using the

    Coda MCP server.'
  termsOfService: https://coda.io/trust/tos
  contact:
    name: API Support
    url: https://coda.io
    email: help+api@coda.io
  x-logo:
    url: https://cdn.coda.io/external/img/apilogo.png
    backgroundColor: transparent
    altText: Coda API
    href: '#'
servers:
- url: https://coda.io/apis/v1
  description: Coda API (v1)
security:
- Bearer: []
tags:
- name: Docs
  description: Coda docs are foundational, top-level collaborative projects that contain pages. The API lets you list and search your docs to obtain basic metadata like titles and ownership information.
paths:
  /docs:
    get:
      summary: List available docs
      description: 'Returns a list of Coda docs accessible by the user, and which they have opened at least once. These are returned in the same order as on the docs page: reverse chronological by the latest event relevant to the user (last viewed, edited, or shared).'
      operationId: listDocs
      tags:
      - Docs
      parameters:
      - name: isOwner
        in: query
        description: Show only docs owned by the user.
        schema:
          type: boolean
      - name: isPublished
        in: query
        description: Show only published docs.
        schema:
          type: boolean
      - $ref: '#/components/parameters/query'
      - name: sourceDoc
        in: query
        description: Show only docs copied from the specified doc ID.
        schema:
          type: string
      - name: isStarred
        in: query
        description: If true, returns docs that are starred. If false, returns docs that are not starred.
        schema:
          type: boolean
      - name: inGallery
        in: query
        description: Show only docs visible within the gallery.
        schema:
          type: boolean
      - name: workspaceId
        in: query
        description: Show only docs belonging to the given workspace.
        schema:
          type: string
      - name: folderId
        in: query
        description: Show only docs belonging to the given folder.
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of Coda docs matching the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://coda.io/apis/v1/docs'\nparams = {\n  'isOwner': True,\n  'query': 'New',\n}\nres = requests.get(uri, headers=headers, params=params).json()\n\nprint(f'First doc is: {res[\"items\"][0][\"name\"]}')\n# => First doc is: New Document\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://coda.io/apis/v1/docs' |\n  jq .items[0].name\n# => \"New Document\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the CodaAPI library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          CodaAPI.authenticate(''<your API token>'');

          var docs = CodaAPI.listDocs().items;

          Logger.log(''First doc is '' + docs[0].name);

          // => First doc is: New Document

          '
    post:
      summary: Create doc
      description: Creates a new Coda doc, optionally copying an existing doc. Note that creating a doc requires you to be a Doc Maker in the applicable workspace (or be auto-promoted to one).
      operationId: createDoc
      tags:
      - Docs
      requestBody:
        description: Parameters for creating the doc.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocCreate'
      responses:
        '201':
          description: Info about the created doc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreationResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://coda.io/apis/v1/docs'\npayload = {\n  'title': 'Project Tracker',\n}\nreq = requests.post(uri, headers=headers, json=payload)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'New doc created with name \"{res[\"name\"]}\"')\n# => New doc created with name \"Project Tracker\"\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X POST -H \"Content-Type: application/json\" \\\n  -d '{\"title\": \"Project Tracker\"}' \\\n  'https://coda.io/apis/v1/docs' |\n  jq .name\n# => \"Project Tracker\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the CodaAPI library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          CodaAPI.authenticate(''<your API token>'');

          var res = CodaAPI.createDoc({title: ''Project Tracker''});

          Logger.log(''New doc created with name '' + res.name);

          // => First doc in the results is: New Document

          '
  /docs/{docId}:
    get:
      summary: Get info about a doc
      description: Returns metadata for the specified doc.
      operationId: getDoc
      tags:
      - Docs
      parameters:
      - $ref: '#/components/parameters/docId'
      responses:
        '200':
          description: Basic Coda doc metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doc'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://coda.io/apis/v1/docs/<doc ID>''

          res = requests.get(uri, headers=headers).json()


          print(f''The name of the doc is {res["name"]}'')

          # => The name of the doc is New Document

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://coda.io/apis/v1/docs/<doc ID>' |\n  jq .name\n# => \"New Document\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the CodaAPI library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          CodaAPI.authenticate(''<your API token>'');

          var docInfo = CodaAPI.getDoc(''<doc ID>'');

          Logger.log(''The name of the doc is '' + docInfo.name);

          // => The name of the doc is New Document

          '
    delete:
      summary: Delete doc
      description: Deletes a doc.
      operationId: deleteDoc
      tags:
      - Docs
      parameters:
      - $ref: '#/components/parameters/docId'
      responses:
        '202':
          description: A result indicating that the doc was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocDelete'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://coda.io/apis/v1/docs/<doc ID>''

          res = requests.delete(uri, headers=headers).json()

          '
      - label: Shell
        lang: shell
        source: "curl -s -X DELETE -H 'Authorization: Bearer <your API token>' \\\n  'https://coda.io/apis/v1/docs/<doc ID>' |\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the CodaAPI library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          CodaAPI.authenticate(''<your API token>'');

          var docInfo = CodaAPI.deleteDoc(''<doc ID>'');

          // => The given doc is now deleted

          '
    patch:
      summary: Update doc
      description: Updates metadata for a doc. Note that updating a doc title requires you to be a Doc Maker in the applicable workspace.
      operationId: updateDoc
      tags:
      - Docs
      parameters:
      - $ref: '#/components/parameters/docId'
      requestBody:
        description: Parameters for updating the doc.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocUpdate'
      responses:
        '200':
          description: Basic Coda doc metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocUpdateResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://coda.io/apis/v1/docs/<doc ID>'\npayload = {\n  'title': 'New Doc Title',\n}\nreq = requests.patch(uri, headers=headers, json=payload)\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X PATCH -H \"Content-Type: application/json\" \\\n  -d '{\"title\": \"New Doc Title\"}' \\\n  'https://coda.io/apis/v1/docs/<doc ID>'\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the CodaAPI library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          CodaAPI.authenticate(''<your API token>'');

          CodaAPI.updateDoc(<doc ID>, {title: "New Doc Title"});

          '
components:
  schemas:
    DocList:
      x-schema-name: DocList
      description: List of Coda docs.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Doc'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://coda.io/apis/v1/docs?limit=20
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://coda.io/apis/v1/docs?pageToken=eyJsaW1pd
    DocReference:
      x-schema-name: DocReference
      description: Reference to a Coda doc.
      type: object
      required:
      - id
      - type
      - browserLink
      - href
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Coda doc.
          example: AbCDeFGH
        type:
          type: string
          description: The type of this resource.
          enum:
          - doc
          x-tsType: Type.Doc
        href:
          type: string
          format: url
          description: API link to the Coda doc.
          example: https://coda.io/apis/v1/docs/AbCDeFGH
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the Coda doc.
          example: https://coda.io/d/_dAbCDeFGH
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    PageContent:
      x-schema-name: PageContent
      description: 'Content to be added or replaced with in a page (canvas).

        '
      type: object
      additionalProperties: false
      required:
      - format
      - content
      properties:
        format:
          $ref: '#/components/schemas/PageContentFormat'
        content:
          type: string
          description: The actual page content.
          example: <p><b>This</b> is rich text</p>
    PageEmbedRenderMethod:
      x-schema-name: PageEmbedRenderMethod
      description: Render mode for a page using the Embed page type.
      type: string
      enum:
      - compatibility
      - standard
      x-tsEnumNames:
      - Compatibility
      - Standard
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    DocSize:
      x-schema-name: DocSize
      description: The number of components within a Coda doc.
      type: object
      required:
      - totalRowCount
      - tableAndViewCount
      - pageCount
      - overApiSizeLimit
      additionalProperties: false
      properties:
        totalRowCount:
          type: number
          description: The number of rows contained within all tables of the doc.
          example: 31337
        tableAndViewCount:
          type: number
          description: The total number of tables and views contained within the doc.
          example: 42
        pageCount:
          type: number
          description: The total number of page contained within the doc.
          example: 10
        overApiSizeLimit:
          type: boolean
          description: If true, indicates that the doc is over the API size limit.
          example: false
    WorkspaceReference:
      x-schema-name: WorkspaceReference
      description: Reference to a Coda workspace.
      type: object
      required:
      - id
      - type
      - browserLink
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Coda workspace.
          example: ws-1Ab234
        type:
          type: string
          description: The type of this resource.
          enum:
          - workspace
          x-tsType: Type.Workspace
        organizationId:
          type: string
          description: ID of the organization bound to this workspace, if any.
          example: org-2Bc456
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the Coda workspace.
          example: https://coda.io/docs?workspaceId=ws-1Ab234
        name:
          type: string
          description: Name of the workspace; included if the user has access to the workspace.
          example: My workspace
    DocCategory:
      x-schema-name: DocCategory
      type: object
      description: The category applied to a doc.
      required:
      - name
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the category.
          example: Project Management
    FolderReference:
      x-schema-name: FolderReference
      description: Reference to a Coda folder.
      type: object
      required:
      - id
      - type
      - browserLink
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Coda folder.
          example: fl-1Ab234
        type:
          type: string
          description: The type of this resource.
          enum:
          - folder
          x-tsType: Type.Folder
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the folder.
          example: https://coda.io/folders/fl-1Ab234
        name:
          type: string
          description: Name of the folder; included if the user has access to the folder.
          example: My docs
    DocUpdate:
      x-schema-name: DocUpdate
      description: Payload for updating a doc.
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          description: Title of the doc.
          example: Project Tracker
        iconName:
          type: string
          description: Name of the icon.
          example: rocket
    DocUpdateResult:
      x-schema-name: DocUpdate
      description: The result of a doc update
      type: object
      additionalProperties: false
      properties: {}
    DocDelete:
      x-schema-name: DocDelete
      description: The result of a doc deletion.
      type: object
      additionalProperties: false
      properties: {}
    PageCreate:
      x-schema-name: PageCreate
      description: Payload for creating a new page in a doc.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the page.
          example: Launch Status
        subtitle:
          type: string
          description: Subtitle of the page.
          example: See the status of launch-related tasks.
        iconName:
          type: string
          description: Name of the icon.
          example: rocket
        imageUrl:
          type: string
          description: Url of the cover image to use.
          example: https://example.com/image.jpg
        parentPageId:
          type: string
          description: The ID of this new page's parent, if creating a subpage.
          example: canvas-tuVwxYz
        pageContent:
          $ref: '#/components/schemas/PageCreateContent'
    DocPublished:
      x-schema-name: DocPublished
      description: Information about the publishing state of the document.
      type: object
      required:
      - browserLink
      - discoverable
      - earnCredit
      - mode
      - categories
      additionalProperties: false
      properties:
        description:
          type: string
          description: Description of the published doc.
          example: Hello World!
        browserLink:
          type: string
          description: URL to the published doc.
          example: https://coda.io/@coda/hello-world
        imageLink:
          type: string
          description: URL to the cover image for the published doc.
        discoverable:
          type: boolean
          description: If true, indicates that the doc is discoverable.
          example: true
        earnCredit:
          type: boolean
          description: 'If true, new users may be required to sign in to view content within this document. You will receive Coda credit for each user who signs up via your doc.

            '
          example: true
        mode:
          $ref: '#/components/schemas/DocPublishMode'
        categories:
          type: array
          description: Categories applied to the doc.
          example:
          - Project Management
          items:
            $ref: '#/components/schemas/DocCategory'
    Icon:
      x-schema-name: icon
      description: Info about the icon.
      type: object
      required:
      - name
      - type
      - browserLink
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the icon.
        type:
          type: string
          description: MIME type of the icon
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to an icon.
          example: https://cdn.coda.io/icons/png/color/icon-32.png
    DocCreate:
      x-schema-name: DocCreate
      description: Payload for creating a new doc.
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          description: Title of the new doc. Defaults to 'Untitled'.
          example: Project Tracker
        sourceDoc:
          type: string
          description: An optional doc ID from which to create a copy.
          example: iJKlm_noPq
        timezone:
          type: string
          description: The timezone to use for the newly created doc.
          example: America/Los_Angeles
        folderId:
          type: string
          description: 'The ID of the folder within which to create this doc. Defaults to your "My docs" folder in the oldest workspace you joined; this is subject to change. You can get this ID by opening the folder in the docs list on your computer and grabbing the `folderId` query parameter.

            '
          example: fl-ABcdEFgHJi
        initialPage:
          allOf:
          - type: object
            description: The contents of the initial page of the doc.
            additionalProperties: false
          - $ref: '#/components/schemas/PageCreate'
    DocPublishMode:
      x-schema-name: DocPublishMode
      description: Which interaction mode the published doc should use.
      type: string
      enum:
      - view
      - play
      - edit
      x-tsEnumNames:
      - View
      - Play
      - Edit
    Doc:
      x-schema-name: Doc
      description: Metadata about a Coda doc.
      type: object
      required:
      - id
      - type
      - href
      - browserLink
      - name
      - owner
      - ownerName
      - createdAt
      - updatedAt
      - workspace
      - folder
      - workspaceId
      - folderId
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Coda doc.
          example: AbCDeFGH
        type:
          type: string
          description: The type of this resource.
          enum:
          - doc
          x-tsType: Type.Doc
        href:
          type: string
          format: url
          description: API link to the Coda doc.
          example: https://coda.io/apis/v1/docs/AbCDeFGH
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the Coda doc.
          example: https://coda.io/d/_dAbCDeFGH
        icon:
          $ref: '#/components/schemas/Icon'
        name:
          type: string
          description: Name of the doc.
          example: Product Launch Hub
        owner:
          type: string
          format: email
          description: Email address of the doc owner.
          example: user@example.com
        ownerName:
          type: string
          description: Name of the doc owner.
          example: Some User
        docSize:
          $ref: '#/components/schemas/DocSize'
        sourceDoc:
          allOf:
          - type: object
            description: Reference to a Coda doc from which this doc was copied, if any.
            additionalProperties: false
          - $ref: '#/components/schemas/DocReference'
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when the doc was created.
          example: '2018-04-11T00:18:57.946Z'
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when the doc was last modified.
          example: '2018-04-11T00:18:57.946Z'
        published:
          $ref: '#/components/schemas/DocPublished'
        folder:
          $ref: '#/components/schemas/FolderReference'
        workspace:
          $ref: '#/components/schemas/WorkspaceReference'
        workspaceId:
          type: string
          description: ID of the Coda workspace containing this doc.
          example: ws-1Ab234
          deprecated: true
        folderId:
          type: string
          description: ID of the Coda folder containing this doc.
          example: fl-1Ab234
          deprecated: true
    DocumentCreationResult:
      x-schema-name: Doc
      description: The result of a doc creation.
      type: object
      required:
      - id
      - type
      - href
      - browserLink
      - name
      - owner
      - ownerName
      - createdAt
      - updatedAt
      - workspace
      - folder
      - workspaceId
      - folderId
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Coda doc.
          example: AbCDeFGH
        type:
          type: string
          description: The type of this resource.
          enum:
          - doc
          x-tsType: Type.Doc
        href:
          type: string
          format: url
          description: API link to the Coda doc.
          example: https://coda.io/apis/v1/docs/AbCDeFGH
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the Coda doc.
          example: https://coda.io/d/_dAbCDeFGH
        icon:
          $ref: '#/components/schemas/Icon'
        name:
          type: string
          description: Name of the doc.
          example: Product Launch Hub
        owner:
          type: string
          format: email
          description: Email address of the doc owner.
          example: user@example.com
        ownerName:
          type: string
          description: Name of the doc owner.
          example: Some User
        docSize:
          $ref: '#/components/schemas/DocSize'
        sourceDoc:
          allOf:
          - type: object
            description: Reference to a Coda doc from which this doc was copied, if any.
            additionalProperties: false
          - $ref: '#/components/schemas/DocReference'
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when the doc was created.
          example: '2018-04-11T00:18:57.946Z'
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when the doc was last modified.
          example: '2018-04-11T00:18:57.946Z'
        published:
          $ref: '#/components/schemas/DocPublished'
        folder:
          $ref: '#/components/schemas/FolderReference'
        workspace:
          $ref: '#/components/schemas/WorkspaceReference'
        workspaceId:
          type: string
          description: ID of the Coda workspace containing this doc.
          example: ws-1Ab234
          deprecated: true
        folderId:
          type: string
          description: ID of the Coda folder containing this doc.
          example: fl-1Ab234
          deprecated: true
        requestId:
          type: string
          description: An arbitrary unique identifier for this request.
          example: abc-123-def-456
    PageCreateContent:
      x-schema-name: PageCreateContent
      description: Content that can be added to a page at creation time, either text (or rich text) or a URL to create a full-page embed.
      discriminator:
        propertyName: type
      oneOf:
      - type: object
        required:
        - type
        - canvasContent
        additionalProperties: false
        properties:
          type:
            type: string
            description: Indicates a page containing canvas content.
            enum:
            - canvas
            x-tsType: PageType.Canvas
          canvasContent:
            $ref: '#/components/schemas/PageContent'
      - type: object
        required:
        - type
        - url
        additionalProperties: false
        properties:
          type:
            type: string
            description: Indicates a page that embeds other content.
            enum:
            - embed
            x-tsType: PageType.Embed
          url:
            type: string
            description: The URL of the content to embed.
            example: https://example.com
          renderMethod:
            $ref: '#/components/schemas/PageEmbedRenderMethod'
      - discriminator:
          propertyName: mode
        oneOf:
        - type: object
          required:
          - type
          - mode
          - sourcePageId
          - includeSubpages
          - sourceDocId
          additionalProperties: false
          properties:
            type:
              type: string
              description: Indicates a page that embeds other Coda content.
              enum:
              - syncPage
              x-tsType: PageType.SyncPage
            mode:
              type: string
              description: Indicates a single-page sync page.
              enum:
              - page
              x-tsType: SyncPageType.Page
            includeSubpages:
              type: boolean
              description: Include subpages in the sync page.
            sourcePageId:
              type: string
              description: The page id to insert as a sync page.
              example: canvas-IjkLmnO
            sourceDocId:
              type: string
              description: The id of the document to insert as a sync page.
              example: sHbI4uIwiK
        - type: object
          required:
          - type
          - mode
          - sourceDocId
          additionalProperties: false
          properties:
            type:
              type: string
              description: Indicates a page that embeds other content.
              enum:
              - syncPage
              x-tsType: PageType.SyncPage
            mode:
              type: string
              description: Indicates a full doc sync page.
              enum:
              - document
              x-tsType: SyncPageType.Document
            sourceDocId:
              type: string
              description: The id of the document to insert as a sync page.
              example: sHbI4uIwiK
    PageContentFormat:
      x-schema-name: PageContentFormat
      description: Supported content types for page (canvas) content.
      type: string
      enum:
      - html
      - markdown
      x-tsEnumNames:
      - Html
      - Markdown
  parameters:
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 25
    query:
      name: query
      description: Search term used to filter down results.
      in: query
      example: Supercalifragilisticexpialidocious
      schema:
        type: string
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    docId:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    BadRequestError:
      description: The request parameters did not conform to expectations.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 400
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Bad Request
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Bad Request
  securitySchemes:
    Bearer:
      description: "The Coda API can be accessed using an API token, which can be obtained from [*My account*](https://coda.io/account)\nin Coda. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Coda, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Coda API can perform any action that the user who created the token\ncan perform. However, Coda API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Coda API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nCoda API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Coda API tokens.\n* `/resolveBrowserLink`: This method can be called by all Coda API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Coda Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
