openapi: 3.2.0
info:
  version: 1.5.0
  title: Coda Workspaces API
  license:
    name: Coda Developer Terms
    url: https://coda.io/trust/developer
  description: '# Introduction


    The Coda API is a RESTful API that lets you programmatically interact with Coda docs:


    * List and search Coda docs

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Coda with an AI tool, you may also want to consider using the

    Coda MCP server.'
  termsOfService: https://coda.io/trust/tos
  contact:
    name: API Support
    url: https://coda.io
    email: help+api@coda.io
  x-logo:
    url: https://cdn.coda.io/external/img/apilogo.png
    backgroundColor: transparent
    altText: Coda API
    href: '#'
servers:
- url: https://coda.io/apis/v1
  description: Coda API (v1)
security:
- Bearer: []
tags:
- name: Workspaces
  description: This API allows you to manage your workspace's membership and get analytics on membership over time.
paths:
  /workspaces/{workspaceId}/users:
    get:
      summary: List workspace users
      description: Returns a list of members in the given workspace. This list will be ordered with the requesting user first and then ordered by role.
      operationId: listWorkspaceMembers
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/workspaceId'
      - name: includedRoles
        description: Show only the members that match the included roles. Multiple roles can be specified with a comma-delimited list.
        in: query
        explode: false
        example: Editor,DocMaker
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceUserRole'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of workspace members matching the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceMembersList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://coda.io/apis/v1/workspaces/<your workspace id>/users'\nparams = {\n  'limit': 10,\n}\nres = requests.get(uri, headers=headers, params=params).json()\n\nprint(f'First user is: {res[\"items\"][0][\"email\"]}')\n# => First user is: hello@coda.io\n"
  /workspaces/{workspaceId}/users/role:
    post:
      summary: Updates user role
      description: Updates the workspace user role of a user that matches the parameters. Only succeeds if the requesting user has admin permissions in the workspace.
      operationId: changeUserRole
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/workspaceId'
      requestBody:
        description: Parameters for changing the user role.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRole'
      responses:
        '200':
          description: User's info that was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeRoleResult'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://coda.io/apis/v1/workspaces/<your workspace id>/users/role'\nparams = {\n  'limit': 10,\n}\nres = requests.post(uri, headers=headers, params=params).json()\n\nprint(f'First user is: {res[\"items\"][0][\"email\"]}')\n# => First user is: hello@coda.io\n"
  /workspaces/{workspaceId}/roles:
    get:
      summary: List workspace roles
      description: Returns a list of the counts of users over time by role for the workspace.
      operationId: listWorkspaceRoleActivity
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/workspaceId'
      responses:
        '200':
          description: List of role activity over time for the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkspaceRoleActivity'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://coda.io/apis/v1/workspaces/<your workspace id>/roles'\nparams = {\n  'limit': 10,\n}\nres = requests.get(uri, headers=headers, params=params).json()\n\nprint(f'First month is: {res[\"items\"][0][\"month\"]}')\n# => First month is: 2020-09-15\n"
components:
  responses:
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
  schemas:
    WorkspaceMembersList:
      x-schema-name: WorkspaceMembersList
      description: Response for listing workspace users.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceUser'
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://coda.io/apis/v1/workspaces/{workspaceId}/users?pageToken=xyz
    WorkspaceRoleActivity:
      x-schema-name: WorkspaceRoleActivity
      description: Metadata for workspace role activity.
      type: object
      required:
      - month
      - activeAdminCount
      - activeDocMakerCount
      - activeEditorCount
      - inactiveAdminCount
      - inactiveDocMakerCount
      - inactiveEditorCount
      additionalProperties: false
      properties:
        month:
          type: string
          description: Month corresponding to the data.
          example: '2020-09-15'
        activeAdminCount:
          type: number
          description: Number of active Admins.
          example: 2
        activeDocMakerCount:
          type: number
          description: Number of active Doc Makers.
          example: 2
        activeEditorCount:
          type: number
          description: Number of active Editors.
          example: 2
        inactiveAdminCount:
          type: number
          description: Number of inactive Admins.
          example: 2
        inactiveDocMakerCount:
          type: number
          description: Number of inactive Doc Makers.
          example: 2
        inactiveEditorCount:
          type: number
          description: Number of inactive Editor users.
          example: 2
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    WorkspaceUserRole:
      x-schema-name: WorkspaceUserRole
      type: string
      enum:
      - Admin
      - DocMaker
      - Editor
      x-tsEnumNames:
      - Admin
      - DocMaker
      - Editor
    ChangeRoleResult:
      x-schema-name: ChangeRoleResult
      description: The result of changing a user's workspace user role.
      type: object
      required:
      - roleChangedAt
      additionalProperties: false
      properties:
        roleChangedAt:
          type: string
          format: date-time
          description: Timestamp for when the user's role last changed in this workspace.
          example: '2018-04-11T00:18:57.946Z'
    WorkspaceUser:
      x-schema-name: WorkspaceUser
      description: Metadata of a workspace user.
      type: object
      required:
      - email
      - name
      - role
      - registeredAt
      additionalProperties: false
      properties:
        email:
          type: string
          description: Email of the user.
          example: hello@coda.io
        name:
          type: string
          description: Name of the user.
          example: Sally Jane
        role:
          $ref: '#/components/schemas/WorkspaceUserRole'
        pictureUrl:
          type: string
          description: Picture url of the user.
          format: url
          example: codahosted.io/123
        registeredAt:
          type: string
          format: date-time
          description: Timestamp for when the user registered in this workspace
          example: '2018-04-11T00:18:57.946Z'
        roleChangedAt:
          type: string
          format: date-time
          description: Timestamp for when the user's role last changed in this workspace.
          example: '2018-04-11T00:18:57.946Z'
        lastActiveAt:
          type: string
          format: date
          description: Date when the user last took an action in any workspace.
          example: '2018-04-11'
        ownedDocs:
          type: number
          description: Number of docs the user owns in this workspace.
          example: 2
        docsLastActiveAt:
          type: string
          format: date
          description: Date when anyone last accessed a doc that the user owns in this workspace.
          example: '2018-04-11'
        docCollaboratorCount:
          type: number
          description: Number of collaborators that have interacted with docs owned by the user in the last 90 days.
          example: 2
        totalDocs:
          type: number
          description: Number of docs the user owns, manages, or to which they have added pages in the last 90 days.
          example: 2
        totalDocsLastActiveAt:
          type: string
          format: date
          description: Date when anyone last accessed a doc the member owns or contributed to.
          example: '2018-04-11'
        totalDocCollaboratorsLast90Days:
          type: number
          description: Number of unique users that have viewed any doc the user owns, manages, or has added pages to in the last 90 days.
          example: 2
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    GetWorkspaceRoleActivity:
      x-schema-name: GetWorkspaceRoleActivity
      description: Response for getting workspace role activity.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceRoleActivity'
    ChangeRole:
      x-schema-name: ChangeRole
      description: Parameters for changing a workspace user role.
      type: object
      required:
      - email
      - newRole
      additionalProperties: false
      properties:
        email:
          type: string
          description: Email of the user.
          example: hello@coda.io
        newRole:
          $ref: '#/components/schemas/WorkspaceUserRole'
  parameters:
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    workspaceId:
      name: workspaceId
      description: ID of the workspace.
      in: path
      required: true
      example: ws-1Ab234
      schema:
        type: string
  securitySchemes:
    Bearer:
      description: "The Coda API can be accessed using an API token, which can be obtained from [*My account*](https://coda.io/account)\nin Coda. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Coda, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Coda API can perform any action that the user who created the token\ncan perform. However, Coda API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Coda API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nCoda API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Coda API tokens.\n* `/resolveBrowserLink`: This method can be called by all Coda API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Coda Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
