openapi: 3.2.0
info:
  version: 1.5.0
  title: Coda Account API
  license:
    name: Coda Developer Terms
    url: https://coda.io/trust/developer
  description: '# Introduction


    The Coda API is a RESTful API that lets you programmatically interact with Coda docs:


    * List and search Coda docs

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Coda with an AI tool, you may also want to consider using the

    Coda MCP server.'
  termsOfService: https://coda.io/trust/tos
  contact:
    name: API Support
    url: https://coda.io
    email: help+api@coda.io
  x-logo:
    url: https://cdn.coda.io/external/img/apilogo.png
    backgroundColor: transparent
    altText: Coda API
    href: '#'
servers:
- url: https://coda.io/apis/v1
  description: Coda API (v1)
security:
- Bearer: []
tags:
- name: Account
  description: At this time, the API exposes some limited information about your account. However, `/whoami` is a good endpoint to hit to verify that you're hitting the API correctly and that your token is working as expected.
paths:
  /whoami:
    get:
      summary: Get user info
      description: Returns basic info about the current user.
      operationId: whoami
      parameters: []
      tags:
      - Account
      responses:
        '200':
          description: Info about the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://coda.io/apis/v1/whoami''

          res = requests.get(uri, headers=headers).json()


          print(f''Your name is {res["name"]}'')

          # => Your name is John Doe

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://coda.io/apis/v1/whoami' |\n  jq .name\n# => \"John Doe\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the CodaAPI library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          CodaAPI.authenticate(''<your API token>'');

          Logger.log(''Your name is '' + CodaAPI.whoami().name);

          // => Your name is John Doe

          '
components:
  schemas:
    WorkspaceReference:
      x-schema-name: WorkspaceReference
      description: Reference to a Coda workspace.
      type: object
      required:
      - id
      - type
      - browserLink
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Coda workspace.
          example: ws-1Ab234
        type:
          type: string
          description: The type of this resource.
          enum:
          - workspace
          x-tsType: Type.Workspace
        organizationId:
          type: string
          description: ID of the organization bound to this workspace, if any.
          example: org-2Bc456
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the Coda workspace.
          example: https://coda.io/docs?workspaceId=ws-1Ab234
        name:
          type: string
          description: Name of the workspace; included if the user has access to the workspace.
          example: My workspace
    User:
      x-schema-name: User
      description: Info about the user.
      type: object
      required:
      - name
      - loginId
      - type
      - scoped
      - tokenName
      - href
      - workspace
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the user.
          example: John Doe
        loginId:
          type: string
          description: Email address of the user.
          example: user@example.com
        type:
          type: string
          description: The type of this resource.
          enum:
          - user
          x-tsType: Type.User
        pictureLink:
          type: string
          format: url
          description: Browser-friendly link to the user's avatar image.
          example: https://cdn.coda.io/avatars/default_avatar.png
        scoped:
          type: boolean
          description: True if the token used to make this request has restricted/scoped access to the API.
          example: false
        tokenName:
          type: string
          description: Returns the name of the token used for this request.
          example: My API token
        href:
          type: string
          format: url
          description: API link to the user.
          example: https://coda.io/apis/v1beta/whoami
        workspace:
          $ref: '#/components/schemas/WorkspaceReference'
  responses:
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: "The Coda API can be accessed using an API token, which can be obtained from [*My account*](https://coda.io/account)\nin Coda. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Coda, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Coda API can perform any action that the user who created the token\ncan perform. However, Coda API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Coda API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nCoda API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Coda API tokens.\n* `/resolveBrowserLink`: This method can be called by all Coda API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Coda Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
